:8081 {
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}

	handle /readyz {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		reverse_proxy 127.0.0.1:9494 {
			flush_interval -1
		}

		request_body {
			max_size 256MB
		}
	}
}
